// fonts
@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
$fontLogo: 'Goldman', cursive;

@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap');
$fontOne: 'Montserrat Alternates', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
$fontTwo: 'Montserrat', sans-serif;

// colors
$white: #fff;
$black: #000;
$yellow: #D3D655;
$brown: #491F1F;
$grey: #CBCBCB;
$greyBlue: #6E748E;
$greyFooter: #C4C4C4;
$greyStrong:  #7C7A7A;
